@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

.reset_styles > * {
  all: revert;
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}

.home-category-product-shelf:active {
  @apply bg-primary;
}

.custom-scroll {
  overflow-x: auto;
}

.custom-scroll::-webkit-scrollbar {
        display: none; /* Oculta a barra de scroll inicialmente */
}

.custom-scroll:hover::-webkit-scrollbar {
     display: block; /* Força a exibição da barra de scroll ao passar o mouse */
       height: 10px; /* Ajuste a altura da barra de scroll */
}

.custom-scroll::-webkit-scrollbar-track {
       background: #f1f1f1;
       border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}


.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}